<div id="<%= dom_id news %>">
  <p>
    <strong>Header:</strong>
    <%= news.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= news.body %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= news.link %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= news.shape %>
  </p>

</div>
